@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  --purple-light: #f3f0ff;
  --black: #000000;
  --white: #ffffff;
  --gray-2: #e5e7eb;
  --gray-3: #d1d5db;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}
